@model IEnumerable<TrackerAPIWebApp.Models.HealthRecord>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pulse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SystolicPressure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiastolicPressure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SleepHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BodyTemperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterIntakeLiters)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StressLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Steps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoodOption)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pulse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SystolicPressure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiastolicPressure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SleepHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodyTemperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterIntakeLiters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StressLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Steps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoodOption.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
